<table class="table table-bordered">
  <thead>
    <tr class= "text-center">
      <th scope="col">Store</th>
      <th scope="col">Categories</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td class="align-middle"><%= store.name %></td>
        <td class="align-middle">
          <% if store.categories.any? %>
            <%= render store.categories %>
          <% else %>
            <small>Edit store to add categories</small>
          <% end %>
        </td>
        <td class="text-center align-middle col-5 px-0 ">
          <%= link_to 'Edit', edit_store_path(store), class:"btn btn-sm bg-yellow rounded-2 shadow-sm" %>
          <%= link_to 'View orders', store_orders_path(store: store), class:'btn btn-sm bg-yellow rounded-2 shadow-sm' %>
          <%= link_to 'Delete', store_path(store), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger rounded-2 shadow-sm' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>