<h1 class="mt-2 mb-4"><%= @store.name %><small> - Edit</small></h1>

<div class="row">
  <div class="col-6">
  <%= form_for @store do |f| %>
    <%= render 'shared/errors', obj: @store %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
    </div>
  
    <% if !@store.categories.empty? %>
      <div class="form-group">
        <%= f.label :categories, class:'col my-2 mx-0 p-0'  %>
        <div class=" border px-2 pt-2 bg-white rounded" >
          <%= f.collection_check_boxes(:category_ids, @store.categories.all, :id, :name) do |b| %>
            <div class="checkboxes"> <%= b.check_box class:'checkbox' %><%= b.label class:'checkbox-label { b.text }'%></div>
          <% end %>
        </div>
      </div>  
    <% end %>  
    
    <% if !@users.empty? %>
      <div class="form-group mb-3">
        <%= f.label :users, class:'col my-2 mx-0 p-0'  %>
        <div class=" border px-2 pt-2 bg-white rounded">
          <%= f.collection_check_boxes(:user_ids, @users, :id, :first_name) do |b| %>
            <div class="checkboxes"> <%= b.check_box class:'checkbox' %><%= b.label class:'checkbox-label { b.text }'%></div>
          <% end %>
        </div>
      </div>  
    <% end %>
  
    <div class="form-group">
      <%= f.submit class: 'btn bg-dark-gray text-yellow' %> 
    </div>
  <% end %>   
  </div>
</div>

<div class="divider"></div>

<h5>Add new category</h5>

<div class="row">
  <div class="col-6">
  <%= form_for @category do |f| %>
    <%= render 'shared/errors', obj: @category %>
    <div class="form-group">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
      </div>
      <%= f.hidden_field :store_id, value: @store.id, class: 'form-control' %>
     
      <div class="form-group">
        <%= f.submit 'Add category', class: 'btn bg-dark-gray text-yellow' %> 
      </div>
    </div>
  <% end %>   
  </div>
</div>



<%= link_to '[Cancel and go back to home]', root_path %>
